<h2>Guest Group</h2>
<h3> Instructions: Copy and paste</h3>

<p>
	Sample: <br/>
	<pre>
  Jonathan Edge (1 tix - ZCLCMT)
  Sara Pappa (1 tix - BIHJPB)
  Mason Barret (1 tix - AMXZZY)
	</pre>
</p>

<%= form_tag guestgroup_path do %>
	<p>
		<%= text_area_tag :guestgroup, nil, :rows => 30, :cols => 50 %>
	</p>
	<p>
		Event Date:<%= text_field_tag :event_date, "10/21/2011" %>
	</p>
	<%= submit_tag "Add Guests", :name => nil %>
<% end %>

<%= link_to "Go Back", guests_url %>