<% title "Guests" %>

<%= form_tag guests_path, :method => 'get' do %>
	<p>
	  <%= text_field_tag :search, params[:search] %>
	  <%= submit_tag "Search", :name => nil%>
	</p>
<% end %>

<table>
  <tr>
    <th>Guest Name</th>
    <th>Record Locator</th>
  </tr>
  <% for guest in @guests %>
    <tr>
      <td><%= guest.name %></td>
      <td><%= guest.locator %></td>
      <td><%= link_to "Show", guest %></td>
      <td><%= link_to "Edit", edit_guest_path(guest) %></td>
      <td><%= link_to "Destroy", guest, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Guest", new_guest_path %></p>
