<% title "Guest" %>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>
<p>
  <strong>Tickets Bought:</strong>
  <%= @guest.tickets_bought %>
</p>
<p>
  <strong>Locator:</strong>
  <%= @guest.locator %>
</p>
<p>
  <strong>Checked In?</strong>
  <%= @guest.checked_in %>
</p>


<p>
  <%= link_to "View All", guests_path %>
</p>
